@using ObakiSite.Client.Services.Components.Badge
@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudContainer MaxWidth="MaxWidth.Large">
            <div class="d-flex align-center my-8" Elevation="1">
                <MudChip Color="Color.Dark" Href="/"><MudText Typo="Typo.button" Style="font-size: 35px;">O</MudText><MudText Typo="Typo.caption" Style="font-size: 20px;">baki</MudText></MudChip>
                <MudDivider Class ="ma-1" Vertical="true" FlexItem ="true" />
                <MudTooltip Text="Anime List" Color="Color.Primary" Placement="Placement.Bottom">
                    <MudIconButton Href="anime" Icon="@Icons.Filled.LibraryBooks" Color="Color.Primary" />
                </MudTooltip>
                <MudSpacer />
                <MudTooltip Text="About me" Color="Color.Primary" Placement="Placement.Bottom">
                    <MudIconButton Href="mycv" Icon="@Icons.Filled.Person" Color="Color.Primary" />
                </MudTooltip>
                <MudTooltip Text="GitHub repo" Color="Color.Primary" Placement="Placement.Bottom">
                    <MudIconButton Href="https://github.com/obaki102/ObakiSite" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" />
                </MudTooltip>
            </div>
        </MudContainer>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
            <ErrorBoundary>
                <ChildContent>  @Body </ChildContent>
                <ErrorContent Context="Exception">
                    <MudChip Color="Color.Secondary">@Exception.GetType()</MudChip>
                    <MudChip Color="Color.Secondary">@Exception.Message</MudChip>
                    <p class="errorUI">Nothing to see here right now. Sorry!</p>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
    private int _bagedeNo = 0;
    bool _drawerOpen = false;

    public void OpenDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    public void UpdateBadge(object? sender, int badgeNo)
    {
        _bagedeNo = badgeNo;
        StateHasChanged();
    }
}
