@page "/post/view/summaries"
@layout ObakiSiteMainLayout
@inject ISender Mediatr
@inject NavigationManager NavManager
@inject ISnackbar Snackbar
@using ObakiSite.Application.Features.Posts.Queries;
<PageTitle>Home</PageTitle>

@if (posts == null)
{
    <div class="d-flex flex-row flex-grow-1 gap-2 ml-2 mt-2">
        <div class="d-flex flex-column flex-grow-1 gap-2">
            <MudChip Icon="@Icons.Material.Filled.Info" Label="true" Color="Color.Primary" Style="width:700px" OnClick="ShowSlowLoadingReason">Slow loading ? </MudChip>
            @for (int i = 0; i < 6; i++)
            {
                <MudPaper Outlined="true" Elevation="2" Width="700px" Height="200px">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Dark">A</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="20px" Width="90%" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudSkeleton Class="ml-16 mr-8 mb-4" Width="70%" Animation="Animation.Wave" />
                        <MudSkeleton Class="ml-16 mr-8 mb-4" Width="70%" Animation="Animation.Wave" />
                        <MudSkeleton Class="ml-16 mr-8 mb-4" Width="70%" Animation="Animation.Wave" />
                    </MudCard>
                </MudPaper>
            }
        </div>
        <div style="width:50%">
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row flex-grow-1 gap-2 ml-2 mt-2">
        <div class="d-flex flex-column flex-grow-1 gap-2">
            @foreach (var post in posts)
            {
                <MudPaper Outlined="true" Elevation="2" Width="700px">
                    <MudCard Elevation="0" @onclick="@(e => NavManager.NavigateTo($"/post/view/{post.Id}"))">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Dark">A</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@post.Author</MudText>
                                <MudText Typo="Typo.caption">Posted on @post.CreationDate</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudText Class="ml-16 mr-8 mb-4" GutterBottom="true" Typo="Typo.h6">@post.Title</MudText>
                    </MudCard>
                </MudPaper>
            }
        </div>
    </div>
}
@code {
    private IReadOnlyList<PostSummaryDTO>? posts { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result = await Mediatr.Send(new GetPostSummaries());
        if (result.Value is not null && result.IsSuccess)
        {
            posts = result.Value;
        }

    }

    private void ShowSlowLoadingReason()
    {
        Snackbar.Add("The initial loading time is slow when using Azure Function due to the cold start process.", Severity.Info);
    }
}