@page "/post/view/{id}"
@using ObakiSite.Application.Features.Posts.Commands;
@using ObakiSite.Application.Features.Posts.Queries;
@inject ISender Mediatr
@inject ISnackbar Snackbar
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

@if (post == null)
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Elevation="1" Class="ma-4" Outlined="true">
            <MudCard Elevation="0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">   <MudSkeleton Width="100%" Animation="Animation.Wave" /></MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudSkeleton Width="20%" Animation="Animation.Wave" />
                        <MudSkeleton Width="20%" Animation="Animation.Wave" />
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.BottomLeft">
                            <ActivatorContent>
                                <MudTooltip Text="Options" Color="Color.Primary" Placement="Placement.Bottom">
                                    <MudIconButton Icon="@Icons.Filled.Dehaze" Color="Color.Default" />
                                </MudTooltip>
                            </ActivatorContent>
                            <ChildContent>
                                <MudList Clickable="true">
                                </MudList>
                                <MudList Clickable="true">
                                </MudList>
                            </ChildContent>
                        </MudMenu>
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
            <MudSkeleton Class="ml-16 mr-8 mb-4" Width="80%" Animation="Animation.Wave" />
            <div class="ma-4">
                <MudElement HtmlTag="html" Class="ma-4">
                    @for (int i = 0; i < 10; i++)
                    {
                        <MudSkeleton Class="my-4" Width="80%" Animation="Animation.Wave" />
                    }
                </MudElement>
            </div>
        </MudPaper>
    </MudContainer>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Elevation="1" Class="ma-4" Outlined="true">
            <MudCard Elevation="0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">A</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@post.Author</MudText>
                        <MudText Typo="Typo.caption">Posted on @post.Created</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudMenu AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.BottomLeft">
                            <ActivatorContent>
                                <MudTooltip Text="Options" Color="Color.Primary" Placement="Placement.Bottom">
                                    <MudIconButton Icon="@Icons.Filled.Dehaze" Color="Color.Default" />
                                </MudTooltip>
                            </ActivatorContent>
                            <ChildContent>
                                <MudList Clickable="true">
                                    <MudListItem Text="Delete Post" Icon="@Icons.Material.Filled.Delete" Color="Color.Primary" Dense="true" OnClick="OnButtonClicked" />
                                </MudList>
                                <MudList Clickable="true">
                                    <MudListItem Text="Edit Post" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" Dense="true" OnClick="@(() => NavManager.NavigateTo($"/post/edit/{Id}"))" />
                                </MudList>
                            </ChildContent>
                        </MudMenu>
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
            <MudText Class="ma-4" Style="font-size:30px" Typo="Typo.body2">@post.Title</MudText>
            <MudElement HtmlTag="html" Class="ma-4">
                <MudElement HtmlTag="div" Class="ma-4">
                    @htmlBody
                </MudElement>
            </MudElement>
        </MudPaper>
    </MudContainer>

    <MudMessageBox @ref="mbox" Title="Delete this post?" CancelText="Cancel">
        <MessageContent>
            <div class="ma-1" style="width:250px">
                Deleting can <b><i>not</i></b> be undone!
            </div>
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mx-4" StartIcon="@Icons.Material.Filled.DeleteForever" OnClick="@DeletePost">Delete!</MudButton>
        </YesButton>
    </MudMessageBox>
}

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;
    private ElementReference QuillElement;
    private MarkupString htmlBody;
    private PostDTO? post;
    MudMessageBox? mbox { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            var result = await Mediatr.Send(new GetPostById(Id));
            if (result.Data is not null && result.IsSuccess)
            {
                post = result.Data;
                htmlBody = (MarkupString)post.HtmlBody;
            }
        }
    }

    private async Task OnButtonClicked()
    {
        if (mbox is not null)
        {
            bool? result = await mbox.Show();
            var state = result == null ? "Cancelled" : "Deleted!";
            StateHasChanged();
        }
    }

    private async Task DeletePost()
    {
        if (post is not null)
        {
            var result = await Mediatr.Send(new DeletePost(post.Id.ToString()));
            if (result.IsSuccess)
            {
                NavManager.NavigateTo($"/post/view/summaries");
            }
            else
            {
                if (result.Messages.Count > 0)
                {
                    foreach (var error in result.Messages)
                        Snackbar.Add(error, Severity.Error);
                }

                Snackbar.Add("Sorry, unable to delete post.", Severity.Error);
            }

            StateHasChanged();
        }
    }
}
