@page "/liveChat"
@inject NavigationManager NavigationManager
@inject IConfiguration ConfigurationManager
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable
@inject HttpClient HttpClient
@inject IChatHubClient ChatHubClient
@inject IBadgeUpdater BadgeUpdater

<div id="scrollableDiv" style="overflow-y: scroll;" class="d-flex align-content-space-between flex-wrap flex-grow-1">
    <div Class="d-flex flex-column flex-grow-1 gap-1" Elevation="0">
        @foreach (var message in _messages)
        {
            @if (IsMyMessage(message.User))
            {
                <div class="d-flex justify-end">
                    <MudPaper Class="pa-2 m1-2 mb-3 overflow-auto mud-theme-primary" MaxWidth="300px" Style="word-break: break-all;">
                        <div class="d-flex flex-row">
                            <MudChip Variant="Variant.Text" Size="Size.Small">@message.MessageCreateDate</MudChip>
                        </div>
                        <MudText Typo="Typo.body2">@message.Message</MudText>
                    </MudPaper>
                </div>
            }
            else
            {
                <div class="d-flex justify-start flex-row flex-grow-1 gap-1">
                    <MudPaper Class="pa-2 m1-2 mb-3 overflow-auto" MaxWidth="300px" Style="@($"background:{Colors.Indigo.Darken1};word-break: break-all;")">
                        <div class="d-flex flex-row">
                            <MudChip Variant="Variant.Text" Size="Size.Small">@message.MessageCreateDate</MudChip>
                        </div>
                        <MudText Typo="Typo.body2">@message.Message</MudText>
                    </MudPaper>
                </div>
            }
        }
    </div>
</div>

<div Class="d-flex align-content-end flex-row px-2 mx-4">
    <MudTextField T="string" Label="Chatbox" Variant="Variant.Outlined" Lines="2" Class="mt-n2 mx-4" @bind-Value="_enteredMessage" @onkeyup="OnEnterKeyPress" @onfocus="OnFocus" TextUpdateSuppression="false" DisableUnderLine="true" />
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="SendMessage">Send</MudButton>
</div>


@code {
    private string myRandomName = string.Empty;
    private List<ChatMessage> _messages = new();
    private ChatMessage chatMessage = new();


    private string _enteredMessage { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {

        ChatHubClient.ReceivedMessageHandler += ReceivedChatMessage;
        await ChatHubClient.ConnectAsync();
        myRandomName = $"MyRandomName-{ChatHubClient.HubConenctionId}";

    }
    private void ClearText()
    {
        _enteredMessage = string.Empty;
    }

    private void ReceivedChatMessage(object? sender, ChatMessageEventArgs e)
    {
        _messages.Add(e.ChatMessage);
        _enteredMessage = string.Empty;
        if (!IsMyMessage(e.ChatMessage.User))
        {
            BadgeUpdater.IncrementBadge();
        }
        StateHasChanged();

    }

    private void OnFocus()
    {
        BadgeUpdater.ResetBadge();
    }

    private async Task OnEnterKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    private async Task SendMessage()
    {
        var chatMessage = new ChatMessage
            {
                User = myRandomName,
                Message = _enteredMessage
            };
        
        await HttpClient.PostAsJsonAsync($"{ChatHubClient.HubUrl}/messages", chatMessage);
    }

    public bool IsMyMessage(string name)
    {
        if (name.Equals(myRandomName))
            return true;

        return false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await JsRuntime.InvokeAsync<string>("ScrollToBottom", "scrollableDiv");
    }

    public async ValueTask DisposeAsync()
    {
        await ChatHubClient.DisconnectAsync();
        ChatHubClient.ReceivedMessageHandler -= ReceivedChatMessage;
        HttpClient.Dispose();
    }
}
