@layout EmptyLayout
@page "/mycv"
<PageTitle>My CV</PageTitle>
<MudPaper Class="d-flex flex-column justify-center flex-grow-1 gap-4" Elevation="1">
    <div class="d-flex ma-4">
        <MudCard Elevation="0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Style="height:70px; width:70px; " Image="/img/myprofile.jpg"></MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Joshua J L. Piluden</MudText>
                    <MudText Typo="Typo.body2">Application Developer</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudText Class="ml-4" Typo="Typo.body2">I am a developer who enjoys learning new things. I love creating tools and application even if this require me to work outside my comfort and knowledge set . </MudText>
            <MudCardContent>
                <MudText Typo="Typo.subtitle2">Skills</MudText>
                <MudTooltip Class="mud-theme-dark">
                    <ChildContent>
                        <MudChip Color="Color.Primary">C#</MudChip>
                    </ChildContent>
                    <TooltipContent>
                        <MudCard Elevation="0" Class="mud-theme-dark" Style="width:250px">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudChip Color="Color.Primary">C#</MudChip>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Skill level</MudText>
                                    <MudRating SelectedValue="3" />
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Align="Align.Justify" Typo="Typo.body2">C# is my main language since college. Although I have grown comfortable using it , I have so much to learn.</MudText>
                            </MudCardContent>
                        </MudCard>
                    </TooltipContent>
                </MudTooltip>
                 <MudTooltip Class="mud-theme-dark">
                    <ChildContent>
                        <MudChip Color="Color.Primary">Blazor</MudChip>
                    </ChildContent>
                    <TooltipContent>
                        <MudCard Elevation="0" Class="mud-theme-dark" Style="width:250px">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudChip Color="Color.Primary">Blazor</MudChip>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Skill level</MudText>
                                    <MudRating SelectedValue="2" />
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Align="Align.Justify" Typo="Typo.body2">I picked up Blazor this year and I'm having a blast learning every nook and cranny. Compared to other SPA framework you can solely build application using primarily C#. </MudText>
                            </MudCardContent>
                        </MudCard>
                    </TooltipContent>
                </MudTooltip>
                <MudTooltip Class="mud-theme-dark">
                    <ChildContent>
                        <MudChip Color="Color.Primary">Azure</MudChip>
                    </ChildContent>
                    <TooltipContent>
                        <MudCard Elevation="0" Class="mud-theme-dark" Style="width:250px">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudChip Color="Color.Primary">Azure</MudChip>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Skill level</MudText>
                                    <MudRating SelectedValue="2" />
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Align="Align.Justify" Typo="Typo.body2">Ever since I passed AZ-900 last year, I was introduced into the world of cloud computing. A testament of this is I was able to establish this site with zero cost.This site takes full advantage of Azure serverless services. </MudText>
                            </MudCardContent>
                        </MudCard>
                    </TooltipContent>
                </MudTooltip>
                <MudTooltip Class="mud-theme-dark">
                    <ChildContent>
                        <MudChip Color="Color.Primary">Power Platform</MudChip>
                    </ChildContent>
                    <TooltipContent>
                        <MudCard Elevation="0" Class="mud-theme-dark" Style="width:320px">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudChip Size="Size.Small"  Color="Color.Primary">Power Platform</MudChip>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Skill level</MudText>
                                    <MudRating SelectedValue="3" />
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudText Align="Align.Justify" Typo="Typo.body2">This is currently the tech stack I use with my employer. I was able to create various automations using Power BI - for our reports and dashboards, Power Apps - for our UI based tools and finally Power Automate for integrating to external services such as MS Teams, Sharepoint  and Service Now. </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                 <MudChip Size="Size.Small"  Color="Color.Primary">Power BI</MudChip>
                                  <MudChip Size="Size.Small"  Color="Color.Primary">Power Automate</MudChip>
                                <MudChip Size="Size.Small" Color="Color.Primary">Power Apps</MudChip>
                            </MudCardActions>
                        </MudCard>
                    </TooltipContent>
                </MudTooltip>
                 <MudTooltip Class="mud-theme-dark">
                    <ChildContent>
                        <MudChip Color="Color.Primary">Others</MudChip>
                    </ChildContent>
                    <TooltipContent>
                        <MudCard Elevation="0" Class="mud-theme-dark" Style="width:300px">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudText Typo="Typo.subtitle2" Align="Align.Left">Skills I picked up through out my career.</MudText>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudChip Size="Size.Small" Color="Color.Primary">Business Intelligence (SQL, SSIS, SSRS)</MudChip>
                                <MudChip Size="Size.Small" Color="Color.Primary">Windows Forms</MudChip>
                                <MudChip Size="Size.Small" Color="Color.Primary">ASP Classic</MudChip>
                                <MudChip Size="Size.Small" Color="Color.Primary">Cold Fusion, PERL, Oracle SOA, Salesforce</MudChip>
                            </MudCardContent>
                        </MudCard>
                    </TooltipContent>
                </MudTooltip>
            </MudCardContent>
        </MudCard>
    </div>
    <div class="d-flex m1-n16">
        <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelinePosition="TimelinePosition.Start">
            <MudTimelineItem Color="Color.Info" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Info" Typo="Typo.h5">April 2016 - Present</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">IBM (April 2016 - Present)</MudText>
                  
                        <MudList Dense="true">
                            <MudListItem Text="Place holder" Icon="@Icons.Filled.Bookmark" IconColor="Color.Info" />
                        </MudList>
                 
                </ItemContent>
            </MudTimelineItem>
            <MudTimelineItem Color="Color.Success" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Success" Typo="Typo.h5">April 2012 - March 2016</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">
                        Accenture (April 2012 - March 2016)
                    </MudText>
                  
                        <MudList Dense="true">
                            <MudListItem Text="Place holder" Icon="@Icons.Filled.Bookmark" IconColor="Color.Success" />
                        </MudList>
                   
                </ItemContent>
            </MudTimelineItem>
            <MudTimelineItem Color="Color.Secondary" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Secondary" Typo="Typo.h5">May 2011 - March 2012</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">
                        Texas Instruments (May 2011 - March 2012)
                    </MudText>
                    
                        <MudList Dense="true">
                           @* <MudListItem Text="Maintained HR applications for TI Baguio and Clark.dddddddddddddddddddddddddddddddddddddddddddddddddd" Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />
                            <MudListItem Text="Automated weekly generation of OT reports. " Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />*@
                            @*  <MudListItem Text="Created a windows form application that increased the resolution time of level 3 ticket requests." Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />*@
                            <MudListItem Text="Created bash scripts for wafer data archiving." Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />
                            <MudListItem Text="Provided support for level 3 ticket requests." Icon="@Icons.Filled.Bookmark" IconColor="Color.Secondary" />
                        </MudList>
                   
                </ItemContent>
            </MudTimelineItem>
        </MudTimeline>
    </div>

</MudPaper>

@code {
    //todo: Make the page dynamic by fetching the data from a data store.
}
