@page "/"
@using ObakiSite.Application.Features.Posts.Queries;
@inject ISender Mediatr
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>


<div class="d-flex flex-row flex-grow-1 gap-4">
    <MudPaper Class="align-self-start flex-1" Outlined="true" Elevation="1">
        <MudCardContent>
            <MudText Typo="Typo.h6">
                Demo
            </MudText>
            <MudList Clickable="true">
                <MudListItem Text="Chat App" Icon="@Icons.Material.Filled.Chat" Color="Color.Primary" Href="/livechat" Dense="true" />
            </MudList>
            <MudList Clickable="true">
                <MudListItem Text="Create Post" Icon="@Icons.Material.Filled.Create" Color="Color.Primary" Href="/post/create" Dense="true" />
            </MudList>
            <MudList Clickable="true">
                <MudListItem Text="View Posts" Icon="@Icons.Material.Filled.ListAlt" Color="Color.Primary" Href="/post/view/summaries" Dense="true" />
            </MudList>
        </MudCardContent>
    </MudPaper>
    <MudCarousel Class="mud-width-full" Style="width:80%;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Class="mx-auto my-auto" Typo="Typo.caption" GutterBottom="true" Style="font-size: 15px;">Hello there! Welcome to my site.</MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudText Class="mx-auto my-auto" Typo="Typo.caption" GutterBottom="true" Style="font-size: 15px;">Hello there! Welcome to my site.</MudText>
        </div>
    </MudCarouselItem>

</MudCarousel>
</div>



@code {

}
