@page "/obaki"
@layout ObakiSiteMainLayout
@inject ISender Mediatr
@inject NavigationManager NavManager
@using ObakiSite.Application.Features.Posts.Queries;
@using ObakiSite.Client.Pages.Posts
<PageTitle>Home</PageTitle>

<div class="d-flex justify-center flex-row flex-grow-1 gap-1">
    <div class="align-self-start flex-1">
        <MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
            <MudList Clickable="true" Color="Color.Primary">
                <MudListItem Text="Home" Icon="@Icons.Material.Filled.Home" Href="/obaki" Dense="true"/>
                <MudListItem Text="Anime List" Icon="@Icons.Material.Filled.LibraryBooks" Href="/obaki/anime" Dense="true"/>
                <MudListItem Text="Chat Demo" Icon="@Icons.Material.Filled.Chat" Href="/obaki/livechat" Dense="true" />
                <MudListItem Text="Ask Chat Gpt" Icon="@Icons.Material.Filled.Adb" Href="/obaki/chatgpt/chat" Dense="true" />
                <MudListItem Text="Tl;dr" Icon="@Icons.Material.Filled.Summarize" Href="/obaki/chatgpt/tldr" Dense="true" />
                <MudListItem Text="TranslationStation" Icon="@Icons.Material.Filled.Translate" Href="/obaki/chatgpt/translate" Dense="true" />
                <MudListItem Text="GitHub repo" Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/obaki102/ObakiSite" Dense="true" />
            </MudList>
        </MudHidden>
    </div>
    <ViewPostSummaries />
</div>
@code {

}
